h4{
  color:blue;
}
.italic{
  font-style:italic;
}
h3,h5{
  margin:10px;
}
#content{
  width:60%;
  color:red;
  padding-left:10px;
  border-top-style: double;
  border-bottom-style: double;
  background-color:pink;
}
.boxx{
  width:50%;
  background-color:#2563e141;
  border: 3px solid blue;
  margin:10px;
}
.chu-mau{
  color:red;
}
.select-all{
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}