ul {
list-style: none;
}
#navbar{
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: green;
  padding: 0 15px;
}
.nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.item{
  flex:1;
  font-size:20px;
  padding: 7.5px 10px 7.5px 0;
}
