*{
  margin:0;
  padding:0;
}
ul {
list-style: none;
}
a:hover{
  color:lightgray;
  
}
#navbar{
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height:100px;
  z-index: 10;
  background: #f0efe7;
  padding: 0 15px;
  text-align:center;
}
.nav{
  padding-top:20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.item{
  flex:1;
  font-size:20px;
  padding: 7.5px 10px 7.5px 0;
  
}
.circle{
    margin:5%;
    width:200px;
    height: 200px;
    background-color: #8d8d8d;
    border-radius: 50%;
    background-image:url( https://cdn.glitch.global/a55e62f2-ee8b-465f-90c6-346213992f90/67580319_147437676344713_7072332671329763328_n.jpg?v=1646921563710)
}
#gioiThieu{
  width: 100%;
  height: 550px;
  background-color:#f2f2f2;
  background-image: url(https://cdn.glitch.global/a55e62f2-ee8b-465f-90c6-346213992f90/code.png?v=1646926793783)
}
.gioiThieu{
    display: flex;
    line-height: 30px;
    font-size: 20px;
    color:white;
}
.headerTnf{
   max-width: 640px;
   margin: 0 auto 6rem auto;
   
 
}
.box{
  text-align: center;
  padding: 10rem 2rem;
  background-color: lightgray;
  background-image: lightgray;
}
.space{
  border: 1px solid black;
  width:30%;
}