/*B1*/
h1{
  display:block;
  color:pink;
}
p{
  display:block;
  color:gray;
}
/*B2*/
* {
  border:1px solid black;
}
/*B3*/
.title{
  color: Green;
}
/* B4 */
.uppercase{
  text-transform:uppercase;
}
/* B5 */
